<div class="default-node @(Node.Group != null ? "grouped" : "") @(Node.Selected ? "selected" : "")">
    Node Title
    @foreach (var port in Node.Ports)
    {
        <CascadingValue IsFixed="true"
                        Value="@_portCollection">

            <PortRenderer Port="port" Class="default" />
        </CascadingValue>
    }
</div>