.function-block-selection {
    border: calc(var(--node-border-width) + 3px) solid rgb(0, 120, 215);
    height: calc(100% + 2px);
    left: -1px;
    pointer-events: none;
    position: absolute;
    top: -1px;
    width: calc(100% + 2px);
}
