.connector-container {
    display: grid;
    grid-template-columns: repeat(7, var(--canvas-grid-size)) calc(var(--canvas-grid-size) - var(--node-border-width));
    grid-template-rows: 100%;
}

.port-container {
    background-color: var(--port-color);
    color: var(--port-text-color);
    cursor: default;
    grid-column: 7 / span 2;
    margin: 1px 0;
    text-align: center;
}

.description {
    background-color: var(--text-background-color);
    color: var(--description-color);
    grid-column: 1 / span 6;
    margin: 1px 0;
    padding-right: 3px;
    text-align: right;
}

::deep .port {
    height: calc(2 * var(--canvas-grid-size) - 2 * 1px);
}
